@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FAFAFA;
}

#veiculos {
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
}

#veiculos th {    
    background-color: rgb(212, 233, 248);
    color:darkblue;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

#veiculos td {
    background-color: lightcyan;
    color: rgb(100, 149, 253);
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-weight: 600;
}

.delete {
    font-size: 16px;
}

#veiculos button {
    background-color: transparent;
    color: lightcoral;
    border: transparent;
    font-weight: bold;
    font-size: 16;
}

#menu {
    display: flex;
    flex-shrink: 1;
    align-items: center;
}

#menu input {
    background-color: rgb(245, 253, 255);
    color: blue;
    text-decoration: blue;
    margin: 5px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

#menu input::placeholder {
    color: blue;
}

#menu button {
    border-radius: 10%;
    border: 2px solid cornflowerblue;
    background-color: lightcyan;
    color:rgb(100, 149, 253);
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}