.title {
    text-align: center;
    padding: 32px;
}

.form__princ label {
    text-align: left;
    font-weight: bold;    
    padding-top: 15px;
    padding-bottom: 15px;
}

#check--copia {
    margin-top: 61px;
    margin-left: 10px;
    float: left;
}

.form__btn {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.invalid-feedback {
    font-weight: bold;
}